<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_BookTask::Task" title="Book Grid" module="Codilar_BookTask" sortOrder="51" resource="Codilar_BookTask::Book"/>
        <add id="Codilar_BookTask::book"
             title="Manage Books"
             module="Codilar_BookTask"
             sortOrder="10"
             action="books/index/index"
             resource="Codilar_Task::Task"
             parent="Codilar_BookTask::Task" />
    </menu>
</config>
