<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar1\CustomCheckout\Api\Data\OrderInterface" type="Codilar1\CustomCheckout\Model\Order"/>

</config>


