<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vendor\HelloWorld\Api\DataRepositoryInterface" type="Vendor\HelloWorld\Model\DataRepository" />
    <preference for="Vendor\HelloWorld\Api\Data\DataInterface" type="Vendor\HelloWorld\Model\Data" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="data_source" xsi:type="string">Test</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Test" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">book_table</argument>
            <argument name="resourceModel" xsi:type="string">Vendor\HelloWorld\Model\ResourceModel\Data</argument>
        </arguments>
    </virtualType>
<!--    <type name="Magento\Catalog\Model\Product">-->

<!--        <plugin name="plugin_for_product_name" type="Vendor\HelloWorld\Plugins\Product" />-->

<!--    </type>-->
    </config>
