<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Magento\Sales\Block\Adminhtml\Totals" type="Codilar1\CustomCheckout\Block\Adminhtml\Totals"/>-->
    <preference for="Magento\Sales\Block\Adminhtml\Order\Invoice\Totals" type="Codilar1\CustomCheckout\Block\Adminhtml\Totals"/>
    <preference for="Magento\Sales\Block\Adminhtml\Order\Totals" type="Codilar1\CustomCheckout\Block\Adminhtml\Order\Totals"/>

</config>


