
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">

    </type>
    <preference for="Test\HelloWorld\Api\DataRepositoryInterface" type="Test\HelloWorld\Model\DataRepository" />
    <preference for="Test\HelloWorld\Api\Data\DataInterface" type="Test\HelloWorld\Model\Data" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="data" xsi:type="string">PracticeGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="PracticeGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">post</argument>
            <argument name="resourceModel" xsi:type="string">Test\HelloWorld\Model\ResourceModel\Data</argument>
        </arguments>
    </virtualType>
</config>
