<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_HelloWorld::helloworld" title="Grid" module="Test_HelloWorld" sortOrder="51" resource="Test_HelloWorld::helloworld"/>
        <add id="Test_HelloWorld::post"
             title="Manage Posts"
             module="Test_HelloWorld"
             sortOrder="10"
             action="test/index/index"
             resource="Test_HelloWorld::post"
             parent="Test_HelloWorld::helloworld" />
    </menu>
</config>
