<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar\RestApi\Api\Data\RestApiInterface"
                type="Codilar\RestApi\Model\Test"/>

    <preference for="Codilar\RestApi\Api\RestApiRepositoryInterface"
                type="Codilar\RestApi\Model\Api\RestRepository"/>
</config>
